.ewtgLupang a{float:left;clear:left;border:1px solid #ccc;display:block;padding:0 10px;line-height:28px;margin-top:6px;font-size:12px;white-space:nowrap;}
.ewtgLupang.default a{}
.ewtgLupang.womanclothe a{color:#f6699e !important;}
.ewtgLupang.womanclothe a:hover{background-color:#f6699e;color:#fff !important;border-color:#f6699e}
.ewtgLupang.manclothe a{color:#1992df !important;}
.ewtgLupang.manclothe a:hover{background-color:#1992df;color:#fff !important;border-color:#1992df}
.ewtgLupang.beauty a{color:#7e57c2 !important;}
.ewtgLupang.beauty a:hover{background-color:#7e57c2;color:#fff !important;border-color:#7e57c2}
.ewtgLupang.baby a{color:#00aad4 !important;}
.ewtgLupang.baby a:hover{background-color:#00aad4;color:#fff !important;border-color:#00aad4}
.ewtgLupang.food a{color:#e68d1d !important;}
.ewtgLupang.food a:hover{background-color:#e68d1d;color:#fff !important;border-color:#e68d1d}
.ewtgLupang.kitchen a{color:#62ab66 !important;}
.ewtgLupang.kitchen a:hover{background-color:#62ab66;color:#fff !important;border-color:#62ab66}
.ewtgLupang.living a{color:#9d7a6d !important;}
.ewtgLupang.living a:hover{background-color:#9d7a6d;color:#fff !important;border-color:#9d7a6d}
.ewtgLupang.homedecoration a{color:#dd704d !important;}
.ewtgLupang.homedecoration a:hover{background-color:#dd704d;color:#fff !important;border-color:#dd704d}
.ewtgLupang.digital a{color:#5868be !important;}
.ewtgLupang.digital a:hover{background-color:#5868be;color:#fff !important;border-color:#5868be}
.ewtgLupang.sports a{color:#83be41 !important;}
.ewtgLupang.sports a:hover{background-color:#83be41;color:#fff !important;border-color:#83be41}
.ewtgLupang.car a{color:#254e98 !important;}
.ewtgLupang.car a:hover{background-color:#254e98;color:#fff !important;border-color:#254e98}
.ewtgLupang.hobby a{color:#3e8d86 !important;}
.ewtgLupang.hobby a:hover{background-color:#3e8d86;color:#fff !important;border-color:#3e8d86}
.ewtgLupang.office a{color:#97563e !important;}
.ewtgLupang.office a:hover{background-color:#97563e;color:#fff !important;border-color:#97563e}
.ewtgLupang.book a{color:#b74b4b !important;}
.ewtgLupang.book a:hover{background-color:#b74b4b;color:#fff !important;border-color:#b74b4b}
.ewtgLupang.pets a{color:#ab47bc !important;}
.ewtgLupang.pets a:hover{background-color:#ab47bc;color:#fff !important;border-color:#ab47bc}
.ewtgLupang.travel a{color:#00b599 !important;}
.ewtgLupang.travel a:hover{background-color:#00b599;color:#fff !important;border-color:#00b599}
.ewtgLupang.babyfashion a{color:#00aab4 !important;}
.ewtgLupang.babyfashion a:hover{background-color:#00aab4;color:#fff !important;border-color:#00aab4}
.ewtgLupang.health a{color:#d22e60 !important;}
.ewtgLupang.health a:hover{background-color:#d22e60;color:#fff !important;border-color:#d22e60}